*{
    margin: 0;
    padding: o;
}
.top_bar{
    height: 70px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: peru;

}
.top_bar_logo{
    width: 200px;
    height: 153px;
}
.btn{
    color:black;
    background-color: green;
    font-size: 14px;
    margin-right: 2px;
    height: 35px;
    width: 100px;

}
.btn:hover{
    background-color: aliceblue;
    margin: 0;
    font-size: 14px;
    border: none;
    width: 100px;
    height: 35px;
    display: block;

}
.fast-class {
    display: flex;
    justify-content: space-between;
    background: rgba(75, 69, 69, 0.573);
    background-size: cover;
    position: sticky;
    top: 0;

}

.cover-photo {
    background-image: url(./images/cover.jpg);
    height: 800PX;
    width: 100%;
    background-size: cover;
}

.first {
    display: flex;
    justify-content: space-between;
    gap: 20px;



}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: rgb(238, 244, 244);
}

.image1{
    width: 80px;
    height: 80px;
}

.fa-shopping-cart {
    font-size: 25px;
    color: rgb(238, 244, 244);
}

.SHOPING {
    display: flex;
    font-size: 25PX;
}

.MENY {
    border-radius: 3PX;
}

.dropdown_menu {
    display: none;
    position: absolute;
}

.dropdown_main {
    position: relative;
}

.dropdown_main:hover .dropdown_menu {
    display: block;
}
.li2 {
    font-size: 25px;
    color: rgb(238, 244, 244);
    gap: 20PX;
}

nav {
    text-align: center;
}
.text {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 200px;
}

.fa-angle-double-down {
    font-size: 30px;
    border: 4px solid gold;
    height: 30px;
    width: 25px;
    border-radius: 50%;


}
.second_page {
    height: 800px;
    background-color: #dca9587a;

}

.second_page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 20px;
    color: #413737;
}

.second_page h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #413737;
}

.hr_border {
    border: none;
    border-bottom: 4px solid rgb(206, 9, 173);
    margin: 0 auto;
    height: 5px;
    border-width: 4px;
    width: 100px;
    margin-top: 10px;

}

.head1 {
    display: flex;
    justify-content: center;
    gap: 3px;

}

.head1 p {
    font-size: 25px;
    color: #1568c18e;
    
    margin: 55px;
}

.need {
    display: flex;
    gap: 5px;
    margin-top: 0 auto;
    padding-top: 15px;
}

.image2 {
    width: 350px;
    height: 200px;
    margin-left: 200px;
    margin-top: 70px;
}

.image3 {
    width: 165px;
    height: 110px;
    margin-left: 200px;
}

.image4 {
    width: 165px;
    height: 110px;
    margin-left: 20px;

}


.singnature {

    font-family: "Noto Sans Hanunoo", sans-serif;
    font-style: normal;
 
    width:20px;
    margin-top: -100px;
    height: 5px;

}
.header h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 25px;
    color: #58dc9e;
}


.header h3 {
    font-size: 35px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    padding-top: -10px;
    margin-top: 0 auto;
    color: #70c30c8f;
}

.header {
    flex-direction: column;
    font-family: roboto;
    color: rgb(255, 255, 255);
    height: 700px;
    background-image: url(./images/cover2.jpg);

    background-size: cover;
    background-attachment: fixed;
    font-style: italic;
    text-align: center;
    justify-content: center;
}

.most {
    width: 99%;
    height: 660px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.558);
}

.salid {
    width: 90px;
    height: 90px;
    margin-left: 40px;
    margin-top: -30px;
    text-align: center;
}


.header h1 {
    color: #fff;
    font-size: 80px;
    font-family: "Bodoni Moda SC", serif;
    font-style: normal;
    margin: 30px;
}

.your-class {
    margin-left: 200px;
    margin-top: 30px;
}

.box {
    text-align: center;
    height: 200px;
    width: 300px;
    /* background-color: #01003f; */
    display: flex;

}

/* .your-class:hover .box {
    transform: scale(1.1);
} */

.box2 {
    height: 340px;
    width: 800px;
    margin-top: -230px;
    background-color: #ebf1f4;
    margin-left: 136px;

}

.box2 h1 {
    font-size: 30px;
    margin-left: 170px;

    color: #120e0e;
}

.box2 h2 {
    font-size: 20px;
    margin-top: -20px;

    margin-left: 300px;
    color: #000;
}

.bto_boxs {
    margin-top: -30px;
}

.margin1 {
    margin-top: 20px;
    margin-left: 130px;
}

.hr_border3 {
    border: none;
    border-bottom: 4px solid rgb(206, 9, 173);
    margin: 0 auto;
    height: 5px;
    border-width: 4px;
    width: 100px;
    margin-top: 10px;

}

.image5 {
    width: 300px;
    height: 310px;
    margin: 0 auto;
    margin-left: 135px;
}

.salid2 {
    margin-left: 20px;
    height: 20px;
    width: 90px;
    margin-top: -1px;
}

.btn1 {
    padding: 10px 20px;
    background: hsla(140, 43%, 61%, 0.803);
    border: 2px solid hsl(180, 33%, 98%);
    border-radius: 6px;
    font-size: 12px;
    color: #fbfbfe;
    letter-spacing: 2px;
    font-weight: 600;


}

.slick-prev::before,
.slick-next::before {
    color: rgb(246, 253, 248);
    font-size: 2.5rem;
}


.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;

}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left: 8%;
}

.slick-next {
    right: 21%;
}


.slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgba(245, 243, 249, 0.942);
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.Join {
    background-color: #01003f;
    height: 500px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 15px;
    line-height: 20px;
    position: absolute;
    top: -50px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.third_page {
    height: 700px;
    background-color: #557e66e4;
}

.third_page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: #f4faf5;
}

.third_page h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #12db76;
}

.margin2 {
    /* border-bottom: 2px solid rgb(248, 243, 243); */
    width: 1000px;
    height: 400px;
    border: 1px solid rgb(0, 255, 110);
    margin-top: -10px;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    gap: 20px;
    font-size: 30px;
}

.right {
    margin-top: 100px;
    font-family: roboto;
    font-style: italic;
    font-size: 24px;

}
.password {
    /* border-radius: 2px solid #fafafa; */
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-family: roboto;
    font-style: italic;
    border: none;
    background-color: #08ff4e56;
}
.make_r {
    margin-top: -80px;
    margin-left: 670px;
    
}
.button{
    background-color: #20d626;
}

.fa-calendar {
    font-size: 15px;
    margin-left: -30px;
    background-color: #20d626;
}

.fa-envelope {
    font-size: 15px;
    margin-left: -23px;
}

.fa-sticky-note {
    font-size: 15px;
    margin-left: -25px;
}

.fa-user {
    font-size: 15px;
    margin-left: -20px;
}

.fa-clock-o {
    font-size: 15px;
    margin-left: -30px;
}

.fa-phone {
    font-size: 15px;
    margin-left: -20px;
}

.call_me h3 {
    font-size: 30px;
    font-family: roboto;
    font-style: italic;
    margin-top: 100px;
    color: #f1f5f4;
}
.fourth_page {
    height: 700px;
    background-image: url(./images/cover2.jpg);
    background-size: cover;

}

.fourth_page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: #f3f7f3;
}

.fourth_page h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color:wheat;
}

.layout {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0;
    height: 500px;
}


.hr_border4 {
    border: none;
    border-bottom: 4px solid rgb(206, 9, 173);
    margin: 0 auto;
    height: 5px;
    border-width: 4px;
    width: 100px;
    margin-top: 10px;

}

.layout img {
    height: 180px;
    width: 300px;
   
}

.layout:hover .layout_2 img {
    transform: scale(1.1);
}

.layout_2 {
    width: 300px;
    background-color: #fff;
    margin-left: 50px;
    height: 470px;
    overflow: hidden;

}

.layout_2 h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: -20px;
    color: #120e0e;
}

.layout_2 p {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}
.fifth_page {
    height: 800px;
}

.fifth_page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: #0b0b0b;
}

.fifth_page h3 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #0c0c0c;

}

.fifth {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

a {
    text-decoration: none;
    color: rgb(9, 9, 9);
    font-size: 30px;

}

li {
    margin: 20px;
}

li>a {
    font-size: 20px;
    font-weight: mediun;


}

.fifth li:hover a {
    border-bottom: 2px solid #0c0004;
}

.number_code {
    display: flex;
    gap: 50px;
    text-align: left;
    width: 100%;
    margin-left: 200px;
}

.number {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.number h1 {
    font-size: 25px;
    margin-left: 0;
    /* height: 10px; */
    text-align: left;
    color: #161616;

}

.number2 {
    font-size: 20px;
    margin-left: 0;
    color: #010900;
}

.num_1 {
    margin-left: 0;
    margin-top: 40px;
    font-size: 25px;
    color: #505445;
}



.h_border {
    border: none;
    border-bottom: 2px dotted rgb(17, 17, 17);
    margin-left: 0px;
    height: 2px;
    border-width: 2px;
    width: 200px;
    margin-top: 40px;
}
.button1 {
    padding: 10px;
    background: #07ed72;
    border: 2px solid #ffffff;
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin-left: 700px;
}
.sixth_page{
    justify-content: center;
    align-items: center;
}
.sixth_page h1 {
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color:black;
    margin-top: -20px;
}

.sixth_page p {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-top: -10px;
}

.your-class3{
    display: flex;
    justify-content: center;
}

.seventh_page{
    flex-direction: column;
    font-family: roboto;
    color: rgb(249, 250, 249);
    height: 500px;
    background-image: url(./images/img10.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-style: italic;
    text-align: center;
    justify-content: space-between;
    top: 30px;

}

.your-class2 p {
    width: 800px;
    height: 350px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    display: block;
    margin-top: 50px;
}
.image_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.eighth_page {
    height: 400px;
    background-color:powderblue;

}

.eighth_page h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 0 auto;
    padding-top: 30px;
    color: #000;
}

.eighth_page h2 {
    font-size: 30px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #000;
}

.subscribe {
    display: flex;
    margin-left: 150px;
}

.subscribe p {
    font-size: 17px;

    margin-top: 60px;
    margin-left: 30px;
}

.row {
    border-bottom: 2px solid black;
    width: 250px;
    height: 40px;
    border: 3px solid rgb(245, 248, 246);
    margin-top: 80px;
    margin-right: 90px;
}


.row h1 {
    font-size: 13px;
    margin-right: 130px;
    margin-top: -30px;
}

.row .button_icon {
    margin-top: -90px;

}
.button_icon {
    padding: 10px;
    background: #fafcfb;
    border: 2px solid #42e87f;
    border-radius: 6px;
    font-size: 20px;
    color: #003f08;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    margin-left: 270px;
    margin-top: -30px;
    width: 40px;
    height: 45px;
}

.ninth_page {
    display: flex;
    gap: 90px;
    height: 500px;

}

.last {
    background-size: cover;
    background-color: gray;
}
.last1 {
    margin-left: 40px;
    margin-top: 150px;
}

.last1 h1 {
    font-size: 30px;
    color: #fff;
}

.last1 p {
    font-size: 15px;
    margin-top: 20px;
    color: #fff;
}
.fa-long-arrow-right {
    margin-top: 6px;

}

.arrow_last {
    display: flex;
}

.arrow_last i {
    color: #fff;
}

.arrow_last h3 {
    color: #fff;
}
.nine {
    margin-top: 150px;
   
}
.nine h1 {
    font-size: 30px;
    color: #fff;
}
.last2 h2 {
    font-size: 18px;
    margin-left: 90px;
    margin-top: -70px;
    color: #f4f8f5;
}

.image7 {
    width: 80px;
    height: 70px;
    margin-top: 10px;

}

.last3 img {
    width: 80px;
    height: 70px;
    margin-top: 30px;
}

.last3 h2 {
    font-size: 18px;
    margin-top: -70px;
    margin-left: 90px;
    color: #f9f6f6;
}

.icon_page {
    margin-top: 150px;
}

.icon_page h1 {
    font-size: 30px;
    color: #fff;
}

.social_media {
    font-size: 35px;
    margin-top: 20px;
    color: #fff;
    border-bottom: 2px solid black;
    border: 6px solid rgba(0, 0, 0, 0.381);
    width: 250px;
    background-color: #00000033;

}

.social_media i {
    gap: 20px;
    color: #fff;
}

.fa-facebook-official {
    margin-left: 10px;
    font-size: 25px;
    margin-top: 10px;
}

.fa-twitter {
    margin-left: 10px;
    font-size: 25px;
}

.fa-instagram {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin-square {
    margin-left: 10px;
    font-size: 25px;
}

.fa-linkedin {
    margin-left: 10px;
    font-size: 25px;
}

.fa-pinterest-p {
    margin-left: 10px;
    font-size: 25px;
}
.contact_info {
    font-size: 25px;
    top: 10px;
    color: #fff;
}
.how {
    margin-top: 10px;
    color: #f5f3f3;
}

.what {
    margin-top: 10px;
    color: #fff;
}

.why {
    margin-top: 10px;
    color: #fff;
}
.last_page {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: peru;
    height: 100px;
   
}

.fa-copyright {

    font-size: 20px;
    color:#000;
    margin-top: 40px;
}

.last_page h1 {
    font-size: 20px;
    color:#000;
    text-align: center;
    margin-left: 5px;
    margin-top: 40px;
}









